.writing-canvas-container {
  min-height: 1100px;
  background-color: white;
  font-family:  "Courier Prime Sans", "Courier Prime", "Courier New", Courier, monospace;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.writing-canvas {
  width: 816px;
  box-sizing: border-box;
  padding: 96px 96px 0 144px;
  padding-top: 40vh; /* Adjusted for 10vh main container padding so caret is visually centered */
  padding-bottom: 80vh; /* Extra space to allow caret to center even with little content */
  outline: none;
  font-size: 12pt;
  font-family:  "Courier Prime Sans", "Courier Prime", "Courier New", Courier, monospace;
  line-height: 1;
  white-space: pre-wrap;
  margin: 0;
  text-align: left;
  display: block;
  overflow: hidden;
  min-height: 912px;
  max-height: none;
  color: #000;
}

.writing-canvas > div {
  line-height: 1;
  margin-bottom: 1em;
}

.slugline {
  font-weight: bold; 
  text-transform: uppercase; 
}

.normal-text {
  text-transform: none !important;
  font-weight: normal !important;
}

.page-number {
  position: absolute;
  top: 96px;
  right: 16px;
  font-size: 12pt;
  line-height: 1;
  color: #aaa;
  pointer-events: none;

}

.page-break {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  border-top: 1px solid #aaa;
  width: 100%;
  pointer-events: none;
  opacity: 0.5;
  transform: translateY(-1px); 
}

.top-menu-bar-icons {
  opacity: 0;
  transition: opacity 0.2s;
}
.top-menu-bar:hover .top-menu-bar-icons {
  opacity: 1;
}

.quick-menu {
  color: #888;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 64px;
  left: calc(50% + 424px);
  z-index: 1000;
}