.writing-canvas-container {
  width: 816px;
  min-height: 1100px;
  padding: 96px 96px 0 144px;
  background-color: white;
  font-family:  "Courier Prime Sans", "Courier Prime", "Courier New", Courier, monospace;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.writing-canvas {
  outline: none;
  font-size: 12pt;
  font-family:  "Courier Prime Sans", "Courier Prime", "Courier New", Courier, monospace;
  line-height: 1;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
  overflow: hidden;
  min-height: 912px;
  max-height: none;
  padding: 0 0 48px 0;
  color: #000;
}

.page-number {
  position: absolute;
  top: 96px;
  right: 16px;
  font-size: 12pt;
  line-height: 1;
  color: #aaa;
  pointer-events: none;

}

.page-break {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  border-top: 1px solid #aaa;
  width: 100%;
  pointer-events: none;
  opacity: 0.5;
  transform: translateY(-1px); 
}
