:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container--no-padding {
  padding-top: 0 !important;
  overflow: hidden;
}

@font-face {
  font-family: 'Courier Prime Sans';
  src: url('./assets/fonts/Courier Prime Sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime Sans';
  src: url('./assets/fonts/Courier Prime Sans Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime Sans';
  src: url('./assets/fonts/Courier Prime Sans Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Prime Sans';
  src: url('./assets/fonts/Courier Prime Sans Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Courier Prime Sans', monospace;
}

body.opening-screen-no-scroll {
  overflow: hidden;
}

.theme-dark {
  color: #f8f8f8;
  background-color: #181818;
}

/* solaris theme */
.theme-solaris {
  color: #5b4636;
  background-color: #fffbe6;
}

/* monokai dark theme */
.theme-monokai {
  color: #f8f8f2;
  background: #272822;
}
